html {
  font-family: "Ubuntu Condensed", sans-serif;
}

section {
  background-image: url("../images/starfield.png");
}

.img-star {
  position: relative;
}

.text-box {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.text-main {
  text-shadow: 1px 1px 6px rgba(255, 255, 255, .7);
}

a {
  color: #b4fff4;
  text-decoration: none;
}
